@import "../../variables.scss";
@import "../../mixins.scss";

.add-item {
  @include flexbox(
    $justifyContent: center,
    $alignItems: center,
    $direction: column
  );

  h3 {
    font-size: 22px;
    color: $color-secondary;
    margin: 20px 0;
  }

  .ant-form {
    width: 30%;

    .image-upload {
      @include flexbox($justifyContent: center, $alignItems: center);
      background-color: $color-tertiary;
      height: 100px;
      margin: 20px 0;
      border-radius: 20px;
      cursor: pointer;

      svg {
        width: 40%;
        height: 40%;
      }
    }
  }
}
