@import "../../variables.scss";
@import "../../mixins.scss";

.admin-home {
  min-height: 100vh;
  @include flexbox($direction: column);

  h3 {
    color: $color-secondary;
    margin: 20px auto;
    font-weight: 500;
  }
}
