@import "../../mixins.scss";
@import "../../variables.scss";

.admin-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  background-color: #fff;
  padding: 10px 20px;
  @include flexbox($alignItems: center);

  .ant-avatar {
    margin: 0 10px;
  }

  .text {
    @include flexbox($direction: column);
    margin: 0 20px;

    h3 {
      margin: 0;
      font-size: 18px;
      color: $color-primary;
    }

    h5 {
      margin: 0;
      font-size: 14px;
      color: $color-secondary;
    }
  }

  button {
    margin-left: auto;
    margin-right: 30px;
  }
}
